Sesión01/Introducción a Python/r_ejercicio.py
Sesión01/Tipo de Datos Fundamentales/r_ejercicio.py
Sesión01/Variables/r_ejercicio.py

Sesión02/Entrada y Salida de Datos/r_caso_practico.py
Sesión02/Operadores Aritmeticos/r_caso_practico.py
Sesión02/Operadores de Comparación/r_caso_practico.py
Sesión02/Operadores Lógicos/r_caso_practico.py
Sesión02/Estructura de Control de Flujo/r_caso_practico.py
Sesión02/Bucles While y For/r_caso_practico.py